@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600;700&display=swap');
:root {
  --theme-color-primary: #5a6b31;
  --theme-color-secondary: #2a261f;
  --theme-color-light: #8e8e8e;
  --theme-color-dark: #474747;
  --theme-color-black: #000000;
  --theme-color-white: #ffffff;
  --theme-color-red: #c65151;
  --theme-color-youtube: #CD201F;
  --theme-color-facebook: #316FF6;
  --theme-color-x: #0f1419;
  --theme-color-linkedIn: #0077b5;
  --theme-color-github: #333333;
  --theme-fontFamily: 'Rajdhani', sans-serif;
  --theme-fontSize-xs: 0.75rem;
  --theme-fontSize-sm: 0.875rem;
  --theme-fontSize-md: 1rem;
  --theme-fontSize-lg: 1.5rem;
  --theme-fontSize-xl: 2.5rem;
  --theme-fontWeight-bold: 800;
  --theme-fontWeight-semibold: 600;
  --theme-fontWeight-medium: 400;
  --theme-textShadow: 2px 2px 5px #000000;
  --theme-border-light: 1px solid #c2c2c2;
  --theme-border-top-light: 1px solid #c2c2c2;
  --theme-border-right-light: 1px solid #c2c2c2;
  --theme-border-bottom-light: 1px solid #c2c2c2;
  --theme-border-left-light: 1px solid #c2c2c2;
  --theme-border-dark: 1px solid #474747;
  --theme-border-top-dark: 1px solid #474747;
  --theme-border-right-dark: 1px solid #474747;
  --theme-border-bottom-dark: 1px solid #474747;
  --theme-border-left-dark: 1px solid #474747;
  --theme-borderRadius-rounded: 100%;
  --theme-borderRadius-notSquare: 0.125em;
  --theme-borderRadius-none: 0;
  --theme-spacing-none: 0em;
  --theme-spacing-xxdense: 0.2em;
  --theme-spacing-xdense: 0.5em;
  --theme-spacing-mdense: 0.8em;
  --theme-spacing-dense: 1em;
  --theme-spacing-normal: 3em;
  --theme-spacing-wide: 5em;
  --theme-spacing-xwide: 7em;
  --theme-spacing-uwide: 10em;
  --theme-clipPath-polygon: polygon(0 92%, 0 15%, 100% 0, 100% 100%);
  --theme-clipPath-cutCorners: polygon(0% 10px, 10px 0%, 100% 0%, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0% 100%);
  --theme-clipPath-clickable: polygon(8px 0%, 100% 0%, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0% 100%, 0% 8px, 8px 0%);
  --theme-clipPath-clickableOutlined: polygon(8px 0%,100% 0%,100% calc(100% - 8px),calc(100% - 8px) 100%,0% 100%,0% 8px,8px 0%,9.9px 0px,1px 8px,1px calc(100% - 1px),calc(100% - 8px) calc(100% - 1px),calc(100% - 1px) calc(100% - 8px),calc(100% - 1px) 1px,7px 1px);
  --theme-elevation-light: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.1));
  --theme-elevation-normal: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.3));
  --theme-elevation-heavy: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.6));
  --theme-wideScreen-maxWidth: 1280px;
  --theme-height-full: 100%;
  --theme-height-xxsmall: 3.5em;
  --theme-height-xsmall: 5em;
  --theme-height-small: 7em;
  --theme-height-medium: 18em;
  --theme-height-large: 20em;
  --theme-height-xlarge: 25em;
  --theme-width-full: 100%;
  --theme-width-xsmall: 5em;
  --theme-width-small: 7em;
  --theme-width-medium: 15em;
  --theme-width-large: 18em;
  --theme-width-xlarge: 22em;
  --theme-zIndex-over: 1000;
  --theme-zIndex-under: -1;
  --theme-boxShadow: rgb(0 0 0 / 30%) 0px 6px 6px, rgb(0 0 0 / 5%) 0px 10px 20px;
  --theme-opacity-none: 0;
  --theme-opacity-medium: 0.7;
  --theme-opacity-high: 0.9em;
  --theme-brightness: brightness(40%);
  /* For slideshow */
  --theme-linearTransition: all 150ms linear;
  --theme-msOverflowStyle: none; 
  --theme-scrollbarWidth: none;
  --theme-flexShrink: 0;
  --theme-flexGrow: 1;
  --theme-textArea-outline: none;
  --theme-textArea-resize: none;
  /* Media Queries */
  --theme-fontSize-xl-mobile: 2rem;
  --theme-fontSize-lg-mobile: 1.2rem;
  --theme-clipPath-polygon-mobile: polygon(0px 96.87%, 0px 5.66%, 100% 0px, 100% 100%);
}
